.link {
    color: #141414;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 2;
    transition: linear all 300ms;
}

.link:hover {
    background-color: #41b6ec;
}

.card {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #e4e4e4;
    border-radius: 25px;
    padding: 1.5rem 3rem;
    box-shadow: 0px 2px 10px 5px #e4e4e4;
    line-height: 1.5;
}

.btn {
    all: unset;
    border: 1px solid #41b6ec;
    border-radius: 5px;
    color: #41b6ec;
    width: 150px;
    height: 35px;
    text-align: center;
    transition: linear all 200ms;
}

.btn:hover {
    color: #ffffff;
    background: #41b6ec;
}